.article-create {
  margin-left: 35px;
}
.article-edit {
  margin-right: 15px;
}

.principal {
  display: none;
}

.label-warning {
  margin-left: 15px;
}

.actions {
  margin-top: 10px;
  display: block;
}

.list-group-item:hover {
  background-color: #EFF8FB;
}
