@font-face {
    font-family: LucidaFax;
    src: url(../fonts/911Fonts.com_LucidaFaxRegular.ttf);
}

html, body { height: 100%; padding: 0; }
html,body,input,div,button,nav,form,a,span,h1,h2,h3,h4,h5,h6{
	font-family: 'Lato', sans-serif;
}
html,body{
	background-color: #f2f2f2;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px; /* or 950px */
  background-color: white;
}

a{
  color: black;
  &:hover{text-decoration: none;color:black;}
}

a.tag{
  background-color: @blue;
  padding: 5px 15px 5px 15px;
  color:white;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
}
a.vermas{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    color:#7a7a7a;
    &:hover{text-decoration: none}
}

span.stats{
  padding: 5px 0;
  display: block;
  color:#7a7a7a;
  font-weight: 800;
  font-size: 11px;
  line-height: 11px;
  span.views{
    margin-left: 20px;
  }
  i.eye{
    font-size: 14px;
    line-height: 11px;
    padding-top: 1px;
    vertical-align: top;
    padding-right: 5px;
  }
}


nav.main-menu{


  ///DROPDOWN
  li.dropdown a:visited,li.dropdown a:link{
    background: transparent!important;
    color:black!important;
  }
  li.dropdown:hover>a,li.dropdown>ul>li:hover>a{
    color:white!important;
  }
  li.dropdown>ul.dropdown-menu{
    border-top: none;
    margin-top: 0px;
    padding: 0;
  }
  ul li:hover > ul {
  		display: block;
  }
  ///END DROPDOWN

//	height: 80px;
	background-color: white;
	width: 100%;
	margin-bottom: 0px;
  .rounded(0);

	ul.nav{
	li{
		padding: 15px 5px;
		.transition();
		a{
			color:black;
			font-weight:600;
			text-transform: uppercase;
			font-size: 14px;
		}
		&:hover{
			.transition();
			background-color: @blue-dark;
			a{color:white;}
		}
    &:select{
      background-color: transparent;
    }
	}
}

.navbar-brand{
	margin: 0;
  padding: 0px;

	img{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top:7px;
    .q(@sm,{
      position: inherit;
      height: 70px;
      transform: none;
      margin-top: 5px;
      margin-left: 20px;
      });

	}
}
}

body.site.fixed{
  div.site-content{
    padding-top: 100px;
  }
  nav.main-menu{
    position: fixed;
    z-index: 1000;
    width: 100%;
    max-width: 100%;
    border-bottom: none;
    .drop-shadow(0, 1px,  5px, 0.2);


    ul>li{
      padding: 0px;
    }
    img.logo{
      height: 40px;
      padding-top: 5px;
    }
  }
}

div.carousel-border{
  border-bottom: 4px solid black!important;
}

div.footer{
  background-color: grey;
  min-height: 400px;
}
